<?xml version="1.0"?>
<config>
    <modules>
        <Netalico_AdminOrderItem>
            <version>1.0.1</version>
        </Netalico_AdminOrderItem>
    </modules>
    <global>
        <blocks>
            <netalico_adminorderitem>
                <class>Netalico_AdminOrderItem_Block</class>
            </netalico_adminorderitem>
            <adminhtml>
                <rewrite>
                    <sales_order_create_search_grid>Netalico_AdminOrderItem_Block_Adminhtml_Sales_Order_Create_Search_Grid</sales_order_create_search_grid>
                </rewrite>
            </adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_create_search_grid_renderer_qty>Netalico_AdminOrderItem_Block_Adminhtml_Sales_Order_Create_Search_Grid_Renderer_Qty</sales_order_create_search_grid_renderer_qty>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <netalico_adminorderitem>
                <class>Netalico_AdminOrderItem_Helper</class>
            </netalico_adminorderitem>
        </helpers>
        <models>
            <netalico_adminorderitem>
                <class>Netalico_AdminOrderItem_Model</class>
            </netalico_adminorderitem>
            <cataloginventory>
                <rewrite>
                    <observer>Netalico_AdminOrderItem_Model_CatalogInventory_Observer</observer>
                </rewrite>
            </cataloginventory>
        </models>
    </global>
    <default>
        <cataloginventory>
            <adminorderitem>
                <allow_out_of_stock>0</allow_out_of_stock>
                <allow_disabled>0</allow_disabled>
            </adminorderitem>
        </cataloginventory>
    </default>
</config>
